@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: rgb(60, 60, 60);

  font-size: 10px;
}

@media (min-width: 490px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 16px;
  }
}
