@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: rgb(60, 60, 60);

  font-size: 10px;
}

[data-reach-accordion-item] {
  height: auto;
  transition: max-height 0.3s ease-in;
  overflow: hidden;
  max-height: 3.5rem;
}

[data-reach-accordion-item][data-state='open'] {
  max-height: 34rem;
}

[data-reach-accordion-item][data-state='closed'] {
  max-height: 3.5rem;
}

@media (min-width: 320px) {
  html {
    font-size: 11px;
  }

  [data-reach-accordion-item][data-state='open'] {
    max-height: 36rem;
  }
}

@media (min-width: 490px) {
  html {
    font-size: 11px;
  }

  [data-reach-accordion-item][data-state='open'] {
    max-height: 24rem;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 12px;
  }

  [data-reach-accordion-item][data-state='open'] {
    max-height: 20rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 13px;
  }

  [data-reach-accordion-item][data-state='open'] {
    max-height: 18rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }

  [data-reach-accordion-item][data-state='open'] {
    max-height: 16rem;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 15px;
  }

  [data-reach-accordion-item][data-state='open'] {
    max-height: 14rem;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 16px;
  }
}
